#contact {
    background-color: var(--secondary-color);
    width: 100%;
    padding-bottom: 6rem;
}

.contactBody{
    flex-direction: column;
    flex:1;

    .headText{
        margin: 3rem 8vw 3rem 8vw;
        font-weight: 400;
        font-size: clamp(1.4em, 2.2vw, 3em);
    }

    .headTextDetails{
        margin: 0 8vw;
    }
}

.contactForm{
    width: 60%;
    flex-direction: column;
    margin: 4rem 6vw 0 6vw;

    div{
        width: 100%;

        margin: 0.75rem 0;
        border-radius: 10px;
        cursor: pointer;
        background-color: var(--primary-color);

        transition: all 0.3s ease-in-out;

        input, textarea{
            width:100%;
            padding: 1rem;
            border:none;
            border-radius: 7px;
            outline: none;
        }

        textarea{
            height: 170px;
        }

        &:hover {
            box-shadow: 0 0 10px white;
        }
    }
    button {
        padding: 1rem 2rem;
        border-radius: 10px;
        border:none;
        background-color: var(--primary-color);

        font-weight: 500;
        color: var(--white-color);
        outline:none;
        margin: 2rem 0 0 0;
        cursor: pointer;
    }

    @media screen and (max-width: 700px) {
        width: 80%;
        margin: 4rem 0;
    }

    @media screen and (max-width: 500px) {
        width: 90%;
        margin: 4rem 0;
    }
}

.textAfterSubmit{
    margin: 6rem 8vw 3rem 8vw;
    font-size: clamp(1.4em, 2.2vw, 3em);
}