*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Lato', sans-serif;
}

body{
    background: var(--primary-color);
    color: var(--white-color);
    overflow: hidden;
    overflow-y: scroll;
}