#intro{
    height: 100vh;
    background-image: url("../../assets/imageHome.webp");
    background-size: 70vh;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.introContent{
    position: relative;
    top: 38vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hanger{
        display: flex;
        justify-content: center;
        align-items: center;

        .locationText{
            background-color:  var(--dark-green-color);
            color: var(--white-color);
            width: 150px;
            height: 95px;
            padding: 1rem 0 0 2.5rem;
            font-weight: 300;

            @media screen and (max-width: 900px) {
                padding: 1.2rem 0rem 1.2rem 2rem;
            }
        }

        .btnLocationWrap{
            background-color: var(--dark-green-color);
            height:95px;
            width:95px;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;

            .btnLocation{
                background-color: var(--primary-color);
                padding: 0.6685rem ;
                border-radius: 50%;

                @media screen and (max-width: 700px){
                    background-color: rgba(255, 255, 255, 0);
                }
            }

            .iconLocation{
                transition: all 0.3s ease-in-out;
                &:hover{
                    fill: var(--dark-green-color);
                    cursor: pointer;
                    
                }
            }

            @media screen and (max-width: 700px){
                background-color: rgba(255, 255, 255, 0);
            }
        }
    }

    .shortIntro{
        position: relative;
        top:-1rem;
        padding-right: 4.2vw;
        font-weight: 300;
        font-size: clamp(1.2em, 2.3vw, 3em);
    }

    @media screen and (max-width: 700px) {
        top: 78vh;
        flex-direction: row-reverse;
        width: 95%;
        .locationText{
            display: none;
        }

        .shortIntro {
            margin-left: 6vw;
        }
    }
}

.bigName {
    position: relative;
    top: 48vh;
    font-size: clamp(3.2em, 14vw, 14em);
    font-weight: 500;
    left: 50%; 
    transform: translateX(-50%); 
    white-space: nowrap; 
    text-align: center; 
}