#about{
    background-color: var(--secondary-color);
    padding-bottom: 12vh;
}

/* Start the body part */
.bodyAbout {
    display: flex;  

    /* Left part */
    .textAbout {
        flex: 1;
        box-sizing: border-box;
        position: relative;
        top: -2vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        & > span {
            flex: 0;
            padding: 4vh 4vw 0 8vw;
        }

        .slogan{
            font-size: clamp(2em,3vw, 5em);
            font-weight: bold;
            padding: 8vh 4vw 0 8vw;
        }

        .buttonsContainer {
            padding: 8vh 4vw 0 6vw;
            display: flex;
            justify-content: center;
            gap: 6vw;
            width: 100%;
        
            button {
                width: 11vw; 
                height: 11vw; 
                min-width: 100px;
                min-height: 100px;
                max-width: 200px;
                max-height: 200px;
                border: none; 
                background-color: var(--primary-color); 
                color: var(--white-color);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center; 
                border-radius: 10%;
                cursor: pointer;
        
                span{
                    transition: 0.3s ease-in-out;
                    font-size: clamp(1.2em,1.45vw, 3em);
                    font-weight: 300;
                    padding-top: 0.5vw;
                }
        
                .iconAbout{
                    transition: 0.3s ease-in-out;
                    font-size: clamp(50px,5vw,100px);
                }
        
                &:hover{ 
                    span {
                        color: var(--dark-green-color);
                        }
                    .iconAbout {
                        fill: var(--dark-green-color);
                        }
                }
            }
        }
    }

    /* Right part - Image */
    .imageAbout {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8vh 6vw 0 0;

        & .imgIntro {
            max-width: 80%;
            border-radius: 2%;
            margin-left: 6vw;
        }
    }

    @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column-reverse;
    }
}
 

/* My Skills */
.mySkills{
    display: flex;
    flex-direction: column;

    .textSkills{
        font-size: clamp(2em,3vw, 5em);
        font-weight: 700;
        margin: 8vh 0 0 8vw;
    }
    
    .webSkills{
        width:100%;
        display: flex;
        justify-content: center;
        padding-top: 4vh;
        @media screen and (max-width:700px) {
            flex-direction: column;
            align-items: center;
        }
        .webSkills2{
            @media screen and (max-width:700px) {
                padding-top:2vh;
            }
        }
    }
    
    .programmingSkills{
        width:100%;
        display: flex;
        justify-content: center;
        padding-top: 2vh;
    }
    
    .iconSkill{
        font-size: clamp(38px,4vw,90px);
        margin: 0 2vw 0 2vw;
    }
}


