#work{
    padding-bottom: 6rem;
}

.workText{
    margin: 4rem 8vw 0 8vw;
    font-weight: 300;
    font-size: clamp(1.4em, 2.2vw, 3em);
}

.workFilter{
    flex-wrap: wrap;
    margin: 2rem 0 3rem 0;

    .workFilterItem{
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-weight: 500;
        color: var(--white-color);
        background-color: var(--secondary-color);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin: 0.5rem;

        &:hover{
            color: var(--secondary-color);
            background-color: whitesmoke;
        }

        @media screen and (min-width: 2000px) {
            padding: 1rem 2rem;
            border-radius: 0.85rem;
        }
    }

    .item-active{
        color: var(--secondary-color);
        background-color: whitesmoke;
    }
}

.workPortfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    .workItem{
        max-width:270px;
        flex-direction: column;
        margin:2rem;
        padding:1rem;
        border-radius: 0.5rem;
        background-color: var(--dark-green-color);
        color: var(--white-color);

        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover{
            box-shadow: 0 0 25px rgba(0,0,0,0.2);
        }

        @media screen and  (min-width: 2000px){
            max-width: 470px;
            padding: 1.25rem;
            border-radius: 0.75rem;
        }

        @media screen and  (max-width: 300px){
            margin: 1rem;
        }
    }
}

.workImg{
    max-height: 238px;
    position: relative;

    img{
        max-width: 100%;
        max-height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
    }

    @media screen and  (min-width: 2000px){
        max-height: 430px;
    }

}

.workHover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0,0,0,0.5);

    border-radius: 0.5rem;
    opacity: 0;
    transition: all 0.3 ease;

    div{
        min-width: 50px;
        min-height: 50px;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.5);

        color: var(--white-color);
        margin: 1rem;
        font-weight: 800;
        cursor: pointer;
        transition: all 0.3 ease;
        svg{
            width: 50%;
            height: 50%;
        }
    }
}

.workContent{
    padding: 1rem 1vw 0.5rem;
    position: relative;
    flex-direction: column;

    .workContentTag{
        position: absolute;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        background-color: var(--dark-green-color);
        top: -1.7rem;
    }

    .workContentTitle{
        line-height: 1.7;
        font-weight: 600;
        margin-top: 0.3rem;
    }

    .workContentText{
        padding: 0;
        margin:0;
    }
}