#work{
    height: auto;
    width: auto;
    padding-bottom: 12vh;
}

.workText{
    margin: 8vh 8vw 0 8vw;
    font-weight: 300;
    font-size: clamp(1.4em, 2.2vw, 3em);
}

.workFilter{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    margin: 4vh 0 6vh 0;

    .workFilterItem{
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-weight: 500;
        color: var(--white-color);
        background-color: var(--secondary-color);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin: 0.5rem;

        &:hover{
            color: var(--secondary-color);
            background-color: whitesmoke;
        }

        @media screen and (min-width: 2000px) {
            padding: 1rem 2rem;
            border-radius: 0.85rem;
        }
    }

    .item-active{
        color: var(--secondary-color);
        background-color: whitesmoke;
    }
}

.workPortfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    .workItem{
        width:270px;
        flex-direction: column;
        margin:2rem;
        padding:1rem;
        border-radius: 0.5rem;
        background-color: var(--dark-green-color);
        color: var(--white-color);

        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover{
            box-shadow: 0 0 25px rgba(0,0,0,0.2);
        }

        @media screen and  (min-width: 2000px){
            width: 470px;
            padding: 1.25rem;
            border-radius: 0.75rem;
        }

        @media screen and  (max-width: 300px){
            width: 100%;
            margin: 1rem;
        }
    }
}

.workImg{
    width: 100%;
    height: 230px;

    position: relative;

    img{
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
    }

    @media screen and  (min-width: 2000px){
        height: 350px;
    }

}

.workHover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

    border-radius: 0.5rem;
    opacity: 0;
    transition: all 0.3 ease;

    div{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.5);

        color: var(--white-color);
        margin: 1rem;
        font-weight: 800;
        cursor: pointer;
        transition: all 0.3 ease;
        svg{
            width: 50%;
            height: 50%;
        }
    }
}

.workContent{
    padding: 2.2vh 1vw 1vh;
    width: 100%;
    position: relative;
    flex-direction: column;

    .workTag{
        position: absolute;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        background-color: var(--dark-green-color);
        top: -25px
    }

    .workTitle{
        line-height: 1.7;
        font-weight: 600;
    }

    .workText{
        padding: 0;
        margin:0;
    }
}